<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">

    <title>Transformers</title>

    <!--Browser Icon-->
    <!--Styles Sections-->
    <link href="../Styles/reset.css" rel="stylesheet" />
    <link href="../Styles/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Fjord+One" rel="stylesheet">
    <link href="../Styles/transforms.css" rel="stylesheet" />
    <link href="../Styles/jquery.fullPage.css" rel="stylesheet" />
    <link href="../Styles/style_v.css" rel="stylesheet" />

    <!--Scripts Section-->
    <script src="../Scripts/jquery-3.1.1.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
    <script src="../Scripts/jquery.fullPage.min.js"></script>
    <script src="../Scripts/jquery.timelinr-0.9.6.js"></script>

    <script type="text/javascript">
        $(function () {

            $("#fullContainer").fullpage({
                anchors: ['homeSection', 'eventsSection', 'speakersSection', 'aboutusSection', 'registerSection', 'contactSection'],
                menu: '#transMenu',
                easingcss3: 'cubic-bezier(0.175, 0.885, 0.320, 1.275)'
            });

            //EventManager Code
            $().timelinr({
                orientation: 'vertical',
                issuesSpeed: 500,
                datesSpeed: 300,
                startAt: 3,
                autoPlay: 'true'
            });
        });
    </script>

</head>
<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top fixed-navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">KOINONIA</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul id="transMenu" class="nav navbar-nav navbar-right">
                    <li data-menuanchor="homeSection"><a href="#homeSection">Home</a></li>
                    <li data-menuanchor="eventsSection"><a href="#eventsSection">Events</a></li>
                    <li data-menuanchor="speakersSection"><a href="#speakersSection">Speakers</a></li>
                    <li data-menuanchor="aboutusSection"><a href="#aboutusSection">About</a></li>
                    <li data-menuanchor="registerSection"><a href="#registerSection">Register</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="fullContainer">
        <!--Image Container-->
        <div id="imageContainer" class="section image-container row sectionContainers">
            <img src="../Images/background.jpg" />
            <h3 class="col-lg-offset-5 col-sm-offset-2 col-xs-offset-2 col-lg-6 col-sm-8 col-xs-9 bverse">
                "So do not fear, for I am with you;
                do not be dismayed, for I am your God.
                I will strengthen you and help you;"
                <br />
                Isaiah 41:10
            </h3>
        </div>

        <!--Events Container-->
        <div id="eventsContainer" class="section sectionContainers row">
            <div class="col-md-1 col-sm-1 col-xs-1">
                <ul id="dates">
                    <li><a href="#4Feb">4 Feb</a></li>
                    <li><a href="#5Feb">5 Feb</a></li>
                    <li><a href="#6Feb">6 Feb</a></li>
                </ul>
            </div>
            <div class="col-md-11 col-sm-11 col-xs-11">
                <ul id="issues">
                    <li id="4Feb">
                        <h1>1900</h1>
                        <p>Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. Nam pulvinar, odio sed rhoncus suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. Proin metus odio, aliquam eget molestie nec, gravida ut sapien. Phasellus quis est sed turpis sollicitudin venenatis sed eu odio. Praesent eget neque eu eros interdum malesuada non vel leo. Sed fringilla porta ligula.</p>
                    </li>
                    <li id="5Feb">
                        <h1>1930</h1>
                        <p>Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. Nam pulvinar, odio sed rhoncus suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. Proin metus odio, aliquam eget molestie nec, gravida ut sapien. Phasellus quis est sed turpis sollicitudin venenatis sed eu odio. Praesent eget neque eu eros interdum malesuada non vel leo. Sed fringilla porta ligula.</p>
                    </li>
                    <li id="6Feb">
                        <h1>1944</h1>
                        <p>Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. Nam pulvinar, odio sed rhoncus suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. Proin metus odio, aliquam eget molestie nec, gravida ut sapien. Phasellus quis est sed turpis sollicitudin venenatis sed eu odio. Praesent eget neque eu eros interdum malesuada non vel leo. Sed fringilla porta ligula.</p>
                    </li>
                </ul>
            </div>
        </div>

        <!--Speakers Container-->
        <div id="speakerContainer" class="section sectionContainers">
            <h1>Rev. Fr. Wilson Mathew</h1>
            <img class="sImage" src="../Images/Achan.jpg" />
            <p class="speakerContent">
                The Dean for this year’s conference will be Rev. Fr. Wilson Mathew, a member of Basil Dayara,
                Pathanamthitta (Thumpamon Diocese).
                <br />
                <br />
                Fr.Mathew has the ability and willingness to talk about our faith. Recognizes the importance of
                the Church and the role of the Church as teacher. Has shown the capacity and evidence of living a
                chaste celibate life. Giving leadership to several family conferences, conventions, youth meetings,
                counseling groups around several dioceses of our Church. He is a faculty of the Orthodox
                Theological Seminary, Kottayam(Kerala).
            </p>
        </div>

        <!--AboutUs Container-->
        <div id="aboutusContainer" class="section sectionContainers">
            <p class="aboutcontent">
                We are grateful for the years the Lord has allowed us to meet together for the Family & Youth
                Conference. We owe much to Him for the word and fellowship from these times that has shown
                us our Immeasurable Christ and His Great Purpose. Because of the way He has used these
                opportunities, we have grown in the Lord and have been built together in Him.
                We believe we are to proceed with a 2017 conference. We realize that we are living in a most
                critical hour just prior to the Lord’s return. What are we to do?
                <br />
                <br />
                The burden that we believe that is on the Lord’s heart for this hour is “BE TRANSFORMED”
                Transfer and Transfiguration are stages of Transform –Process. The present world is in “a growing
                strategy.” But, “a transformed growth”, is an in-evitable process of the whole development. A
                spiritual transformation of ‘Self’ is the corner stone of family, society, church – and the entire
                world. “BE TRANSFORMED” is a call and an advice to our community. It is a personal response,
                resource and a resistance.
                <br />
                <br />
                The current generation that is carrying the testimony must press on remaining faithful to
                what we have seen and seeing to it that we have a bright burning testimony to pass on. That
                impacts our personal and corporate lives as we press on to being conformed to his image and in
                strengthening His body.
                This generation must take up their responsibility to “BE TRANSFORMED” and to serve God’s
                Eternal Purpose in their generation.
            </p>
        </div>

        <!--Register Container-->
        <div id="registerContainer" class="section sectionContainers">
            <iframe src="https://mgocsmocym.typeform.com/to/dTwvov"></iframe>
        </div>
    </div>
</body>
</html>
