body {
    font-family: 'Fjord One', serif;
    background: #ffffff none repeat scroll 0 0;
    overflow-x: hidden;
    overflow-y: hidden;
}


.fixed-navigation {
    background: #ffffff none repeat scroll 0 0;
    font-size: 1.2em;
    border-bottom: 1px solid #333;
}

    .fixed-navigation .navbar-brand {
        color: #333;
        font-size: 1.2em;
    }

    .fixed-navigation .navbar-nav > li > a {
        color: #333;
    }


div.image-container {
    float: left !important;
    position: relative !important;
}

    div.image-container img {
        width: 100% !important;
        height: inherit !important;
    }

div#imageContainer h3 {
    position: absolute !important;
    top: 300px !important;
    text-align: right !important;
    padding: 0 !important;
}

.bverse {
    color: #FFF;
}

ul#dates {
    width: 100% !important;
}

ul.eventslist{
    list-style:disc !important;
}

div.sectionContainers {
    height: inherit;
    display: inline-block !important;
    width: 100% !important;
    margin: 0;
}

    div.sectionContainers div {
        display: block;
        top: 50px;
    }

div#speakerContainer {
    background-color: #6b443b;
    text-align: center;
    overflow-y: scroll;
}

    div#speakerContainer h1 {
        color: #fff;
    }

img.sImage {
    height: 250px;
    margin: 2% 0;
}

p.speakerContent {
    text-align: left;
    color: #fff;
    margin: 1% 8%;
    font-size: 18px;
}

p.aboutcontent {
    text-align: left;
    color: #fff;
    margin: 10% 8%;
    font-size: 18px;
}

div#aboutusContainer {
    background-color: #042224;
    overflow-y: scroll;
}

div#registerContainer {
    height: 700px !important;
    width: 90%;
    padding-bottom: 0 0 50px 0;
}

    div#registerContainer iframe {
        height: 92% !important;
        width: inherit !important;
        bottom: 0;
    }


    /* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {
     ul#dates li a {
        font-size: 12px !important;
    }

}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: landscape) {

}

/* ----------- Galaxy S4 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
     ul#dates li a {
        font-size: 12px !important;
    }

}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}

/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
     ul#dates li a {
        font-size: 12px !important;
    }

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}



/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    ul#dates li a {
        font-size: 15px !important;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
     ul#dates li a {
        font-size: 35px !important;
    }
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
     ul#dates li a {
        font-size: 35px !important;
    }
}

